@charset 'utf-8';

html {
  scroll-behavior: smooth;
}
:root {
  --rope: #915419;
  --white: #ffffff;
  --springWood: #f6f7ef;
  --indianKhaki: #c6ae92;
  --shadeOrange: #ffa395;
  --lightBeige: #f5ead9;
  --ivory: #fef7f1;
  --sorrellBrown: #ceb198;
  --scrollPink: #fedee0;
  --commentBtnColor: #d9d9d9;
  text-transform: capitalize;
}
.wrap {
  overflow-x: clip;
}
.mw {
  /* min-width based on iPhon12 Pro Size */
  padding: 0 10%;
  min-width: 390px;
}
/* 모바일 환경에서 ham 버튼 클릭시 스크롤되는 현상 제어를 위한 클래스*/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
main {
  position: relative;
}
main .reward::before {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url('../img/reward.svg');
}
main .reward {
  position: fixed;
  left: 1.5rem;
  bottom: 3rem;
  z-index: 999;
  font-size: 1rem;
  background-color: var(--lightBeige);
  border-color: transparent;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
main .reward span {
  padding-left: 0.5rem;
}
main .top {
  width: 0;
  height: 2rem;
  position: fixed;
  top: 50%;
  right: 0;
  transform-origin: right center;
  transform: rotate(-90deg) translateY(-50%);
  z-index: 999;
  border-color: transparent;
  background-color: transparent;
  visibility: hidden;
  color: transparent;
  padding-right: 1.2rem;
  cursor: pointer;
  align-items: center;
  transition: 0.3s;
  overflow: hidden;
}
main .top span {
  font-size: 14px;
  padding-right: 5px;
}
main .top.on {
  background-color: var(--scrollPink);
  color: black;
  visibility: visible;
  width: 5rem;
}
main .top.on::after {
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('../img/arrow-right.svg');
  background-size: cover;
  transition: 0.3s;
}
main .top.on:hover::after {
  transform: translateY(-50%) translateX(3px);
}
main .top.off {
  display: none;
}
