.foot .footInfo {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 90px;
  font-size: 14px;
}
.foot .footInfo > div strong {
  font-size: 19px;
  font-weight: bold;
}
.customerCareOne .snsList {
  display: flex;
  align-items: center;
}
.customerCareOne .contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foot .footContact {
  background-color: var(--indianKhaki);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.foot .footContact .contactList {
  padding: 10px 0;
}
.contactList a {
  position: relative;
  padding-right: 1rem;
}
.contactList a:nth-of-type(2)::before,
.contactList a:nth-of-type(3)::before {
  content: '';
  position: absolute;
  top: 50%;
  right: calc(100% + 0.5rem);
  transform: translateY(-50%);
  width: 1px;
  height: 1rem;
  background-color: black;
}
