.enterEmail {
  display: flex;
  flex-direction: column-reverse;
  font-size: 1rem;
}
.snsLink {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  text-transform: none;
}
.snsLink p {
  padding: 36px 0;
}
.snsLink span {
  display: block;
}
.enterEmail .emailArea {
  padding-top: 25%;
  background-image: url('../../img/emailBanner.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.emailArea .inner {
  left: 0;
  top: 50%;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
}
.emailArea .inner h2 {
  font-size: 44px;
}
.emailArea .inner p {
  padding: 5% 0;
  line-height: 1;
}
.emailForm {
  display: inline-block;
  position: relative;
}
.emailForm img {
  width: 1.5rem;
}
.emailForm .emailBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 0;
  top: 50%;
  position: absolute;
  align-self: center;
  transition: 0.3s;
  transform: translateY(-50%);
}
.emailForm .emailBtn:hover {
  transform: translateY(-50%) translateX(2px);
}
.emailForm input {
  padding: 0.5rem 1rem;
  border-style: none;
  font-size: 1rem;
}

@media (max-width: 1210px) {
  .emailArea .inner h2 {
    font-size: 30px;
  }
}
@media (max-width: 990px) {
  .enterEmail .emailArea {
    padding-top: 100%;
    background-image: url('../../img/emailBannerMobile.png');
  }
  .emailArea .inner {
    width: 60%;
    /* color: var(--white); */
    position: absolute;
    top: calc(100% - 10rem);
  }
  .emailArea .inner h2 {
    font-size: 30px;
    color: var(--white);
  }
}
