.brands {
  background-color: var(--white);
}
.brands ul {
  padding-top: 1rem;
  align-items: center;
}
.brands ul li {
  display: flex;
  justify-content: center;
}

@media (max-width: 1210px) {
  .brands a img {
    width: 70%;
  }
}
