.review {
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.review .reviewDetail {
  overflow: hidden;
  position: relative;
}
.reviewDetail h2 {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  padding-top: 100px;
  white-space: nowrap;
  transition: 0.3s;
}
.reviewDetail .reviewSlide {
  position: relative;
  overflow: visible;
}
.reviewDetail .reviewSlide li {
  padding: 54px 0;
}
.reviewDetail p {
  display: block;
  transition: 0.3s;
}
.reviewDetail b {
  color: var(--indianKhaki);
}
.review .reviewImg {
  width: 52%;
  object-fit: contain;
}
.review .reviewImgSlide img {
  width: 100%;
}
.review .reviewPagination {
  display: none;
}
.review .reviewPagination span {
  width: 15px;
  height: 2px;
  background-color: gray;
}
.review .next2,
.review .prev2 {
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  color: transparent;
  background-size: contain;
  transition: 0.3s;
}
.review .next2:hover,
.review .prev2:hover {
  opacity: 1;
}
.review .next2:not(:hover),
.review .prev2:not(:hover) {
  opacity: 0.5;
}
.review .next2 {
  left: 75px;
  background-image: url('../../img/arrow-right.svg');
}
.review .prev2 {
  left: 25px;
  background-image: url('../../img/arrow-left.svg');
}
@media (max-width: 1210px) {
  .reviewDetail h2 {
    font-size: 38px;
  }
  .reviewDetail p,
  .reviewDetail b {
    font-size: 12px;
  }
}
@media (max-width: 990px) {
  .reviewImg {
    display: none;
  }
  .reviewDetail {
    text-align: center;
  }
  .reviewDetail h2 {
    padding-top: 0;
    font-size: 40px;
  }
  .reviewDetail p,
  .reviewDetail b {
    font-size: 14px;
  }
  .review .reviewPagination {
    display: block;
  }
  .review .next2,
  .review .prev2 {
    display: none;
  }
}
@media (max-width: 520px) {
  .reviewDetail h2 {
    padding-top: 0;
    font-size: 40px;
  }
  .reviewDetail p,
  .reviewDetail b {
    font-size: 12px;
  }
}
