.review {
  display: flex;
  flex-direction: row-reverse;
  /* overflow: hidden; */
  gap: 100px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* position: relative; */
}
.review .reviewDetail {
  overflow: hidden;
  position: relative;
}

.reviewDetail h2 {
  padding-top: 100px;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  width: 100%;
  white-space: nowrap;
}
.reviewDetail p {
  display: block;
  /* white-space: nowrap; */
}
.reviewDetail b {
  color: var(--indianKhaki);
}
.review .reviewImg {
  width: 52%;
  object-fit: contain;
}
.review .reviewImgSlide {
  /* overflow: hidden; */
  /* object-fit: cover; */
}
.review .reviewImgSlide img {
  width: 100%;
}

.review .next2,
.review .prev2 {
  position: absolute;
  top: 70%;
}
.review .next2 {
  left: 55%;
}
.review .prev2 {
  left: 45%;
}

@media (max-width: 1210px) {
  .reviewDetail h2 {
    font-size: 40px;
  }
  .reviewDetail p,
  .reviewDetail b {
    font-size: 14px;
  }
}
