.ad {
  background-image: url('../../img/adBanner.png');
  background-size: cover;
  padding-top: 50%;
  position: relative;
}
.ad .adBanner {
  position: absolute;
  top: 50%;
  left: 0;
  padding-left: 10%;
  transform: translateY(-50%);
  color: var(--white);
}
.adBanner h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 4rem;
  transition: 0.3s;
}
.adBanner p::before {
  content: '';
  position: absolute;
  width: 7%;
  height: 3px;
  background-color: var(--sorrellBrown);
  bottom: calc(100% + 1rem);
}
.adBanner p {
  font-size: 19px;
  text-transform: none;
  padding-bottom: 1rem;
  position: relative;
  transition: 0.3s;
}
.adBanner a {
  font-size: 15px;
  text-transform: none;
  border: 1px solid var(--white);
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
.adBanner a:hover {
  opacity: 0.5;
  border-color: var(--shadeOrange);
  color: var(--shadeOrange);
}
@media (max-width: 1210px) {
  .adBanner h2 {
    font-size: 47px;
  }
  .adBanner p {
    font-size: 16px;
  }
  .adBanner a {
    font-size: 12px;
  }
}
@media (max-width: 990px) {
  .adBanner h2 {
    font-size: 20px;
    padding-bottom: 2rem;
  }
  .adBanner p {
    font-size: 13px;
  }
  .adBanner a {
    font-size: 10px;
  }
}
@media (max-width: 540px) {
  .ad {
    background-image: url('../../img/adBannerMobile.png');
    padding-top: 135%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 60%;
  }
  .ad .adBanner {
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    color: black;
  }
  .adBanner h2 {
    padding-bottom: 0;
    text-align: center;
    font-size: 25px;
  }
  .adBanner p {
    display: none;
  }
  .adBanner a {
    left: 50%;
    bottom: 1rem;
    position: absolute;
    transform: translateX(-50%);
    font-size: 1rem;
    padding: 0 2rem;
    border-color: black;
  }
}
