.founderComments {
  font-size: 20px;
}
.founderVision {
  padding-top: 15%;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: 0.3s;
}
.founderVision .inner {
  width: 60%;
  padding: 7% 10% 7% 7%;
  position: relative;
  background-color: var(--lightBeige);
}
.founderVision .inner h2 {
  font-size: 22px;
  padding: 60px 0 30px 0;
  transition: 0.3s;
  order: 2;
}
.founderVision .inner p {
  text-transform: none;
  padding-bottom: 44px;
  position: relative;
  order: 1;
}
.founderVision .inner p::after {
  content: '';
  height: 3px;
  width: 15%;
  position: absolute;
  background-color: var(--sorrellBrown);
  top: 100%;
  left: 0;
}
.founderVision .inner img {
  order: 3;
  width: calc(100% / 3);
}
.founderVision > img {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media (max-width: 1210px) {
  .founderVision {
    font-size: 15px;
  }
}
@media (max-width: 990px) {
  .founderVision {
    font-size: 12px;
  }
  .founderVision .inner h2 {
    font-size: 1rem;
  }
}
@media (max-width: 700px) {
  .founderVision {
    padding-top: 95%;
  }
  .founderVision .inner {
    width: 100%;
  }
  .founderVision > img {
    width: 90%;
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
    left: 50%;
  }
}
